<form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">
    <input type="text" ngModel name="user" placeholder="Enter user name"><br/><br/>
    <input type="text" ngModel name="email" placeholder="Enter user email"><br/><br/>
    <input type="text" ngModel name="password" placeholder="Enter user password"><br/><br/>
    <button>Login</button>
</form>

<ul>
    <li>{{userData.user}}</li>
    <li>{{userData.email}}</li>
    <li>{{userData.password}}</li>
</ul>

<h1>Toggle element</h1>
<button (click)="toggle()">Toggle</button>
<h1 *ngIf="display">Heading tag</h1>
