<h1>Hello Angular - {{title}}</h1>
<!--<app-user-list></app-user-list>
<app-login></app-login>
<app-register></app-register>
<app-component-with-inline-style></app-component-with-inline-style>
<app-component-with-inline-template></app-component-with-inline-template>
<app-component-with-inline-template-and-inline-style></app-component-with-inline-template-and-inline-style>
<app-sign-in></app-sign-in>
<app-sign-up></app-sign-up>
<app-events-learning></app-events-learning>
<app-input-box></app-input-box>
<app-counter-example></app-counter-example> 
<app-property-binding-demo></app-property-binding-demo>
<app-for-loops-learning></app-for-loops-learning>  -->
<app-style-binding-learning></app-style-binding-learning>
