<h1>Tasks</h1>
<input type="text" placeholder="Enter new task" #task>
<br /> <br />
<button (click)="addTask(task.value)">Add task</button>
<br />

<ul *ngFor="let item of todolist">
  <li>
    {{item.name}} <button (click)="removeTask(item.id)">Delete task</button>
  </li>
</ul>

<h1>Send data to child component from parent conponent</h1>
<app-child [passFirstDataToChild]="firstInputFromParent"  [passSecondDataToChild]="secondInputFromParent"></app-child>
<button (click)=" updateChildComponent()">Update child component</button><br/> <br/>

<ul *ngFor="let user of userDetails">
  <app-user-details [item]='user'></app-user-details>
</ul>

<br/><br/>

<h3>{{data}}</h3>
<app-childcomponent (getDataFromChild)="getDataFromChildComponent($event)"></app-childcomponent>

<h1>Two  way binding</h1>
<input type="text" [(ngModel)]="name"/>
<h2>{{name}}</h2>

<h1>Template reference variable</h1>
<input type="text" #box placeholder="Enter user name">
<button (click)="getValue(box.value)">Click me</button><br/>
<button (click)="getValue2(box)">Click me too</button>
